*{
    margin: 0;
    font-family: 'Roboto', 'sans-serifs'
}

.container{
    height: 550px;
}

.css-heg063-MuiTabs-flexContainer{
    justify-content: center;
}

.customDate > div{
    width: 100%;
    margin-top: 0.5rem;
    padding: 4px;
    position: relative;
}