 .skeleton {
     background: #fff;
     margin: 10px;
     border-radius: 4px;
 }
 .skeleton.text {
     width: 10px;
     height: 12px;
 }

 .skeleton.title{
     width: 50px;
     height: 20px;
     margin-bottom: 15px;
 }
 .skeleton.avatar{
     width: 100px;
     height: 100px;
     border-radius: 50%;
 }
 .skeleton.thumbnail{
     width: 100px;
     height: 100px;
 }